.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  .intro {
    width: 75%;
    align-self: center;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .intro_image {
    //TODO: Cambiar para ajustar imagen
    font-size: medium;
  }
  .motives_section {
    width: 75%;
    align-self: center;
    display: flex;
    flex-direction: row;
    .title {
      width: 30%;
      font-size: xx-large;
      text-align: center;
    }
    .motives {
      width: 70%;
      padding-left: 20%;
      font-size: larger;
    }
  }
}
